body {
    background-color: AntiqueWhite;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
  h1 {
    text-align: center;
  }
  h2 {
    font-family: helvetica;
    margin-top: 21px;
    margin-bottom: -22px;
  }
  li {
    font-size: 13px;
  }
  h3 {
    font-family: monospace;
    margin-bottom: -13px;
  }
  p {
    line-height: 1.25;
    margin-bottom: -7px;
  }
  h6 {
    font-family: serif;
  }
  a:visited {
    color: black;
  }
  a:hover {
    color: blue;
  }